extends html, javascript, css

snippet tpl "template vuejs"
<template lang="pug">
$0
</template>

<script>

export default {
	name: '$1'
}
</script>
<style lang="sass" scoped>

</style>
endsnippet

snippet i18 "i18" b
{{ $t('$0') }}
endsnippet
